@charset "UTF-8";
code details[open] > summary > span:first-child::before {
  transform: rotate(90deg);
}
code details:not([open]) {
  display: inline;
}
code details:not([open]) > summary::after {
  content: " ... ";
}
code details:not([open]) + span.ll {
  display: none;
}
code summary {
  display: inline;
  position: relative;
  list-style: none;
}
code summary > span:first-child::before {
  position: absolute;
  display: inline-flex;
  align-items: center;
  height: 21px;
  margin-left: -16px;
  margin-top: 1px;
  content: "▶";
  font-size: 12px;
  font-style: normal;
  transition: transform 100ms;
  color: #999;
}
